@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

b {
  @apply font-bold;
}

i {
  @apply italic;
}

@layer base {
  h1 {
    @apply mb-3 font-extrabold text-4xl leading-none;
  }

  h2 {
    @apply mb-4 font-bold text-2xl leading-none;
  }

  h3 {
    @apply mb-2 font-semibold text-xl leading-6;
  }

  h4 {
    @apply mb-2 font-semibold text-base leading-6;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
  }

  ::-webkit-scrollbar-thumb {
    /* background-color: rgba(217,217,227,.8); */
    /* background-color: rgba(167, 167, 177, 0.8); */
    @apply bg-primary-500;
    @apply rounded-full;
    @apply border-3 border-solid border-zinc-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    /* background-color: rgba(167, 167, 177, 1); */
    @apply bg-secondary-400;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-300;
    @apply rounded-full;
  }
}

@layer panda_reset, panda_base, panda_tokens, panda_recipes, panda_utilities;
